.shopping_cart {
  padding-top: 4rem;
  min-height: 100vh;
  background-color: whitesmoke;
}


.payment_option {
  color: white;

}

@media(max-width:425px) {

  .shoppingList {
    height: 100%;
  }

  .payment_option {
    z-index: 1;
    top: 1;
    padding: 10px;
    position: -webkit-sticky;
  }
}