@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

.Toolbar {
  font-family: "Karla", sans-serif;
  font-weight: 500;
  /* height: 56px; */
  width: 100%;
  z-index: 1;
  position: absolute;
  background-color: transparent;
  padding: 0.5rem 1rem;
  padding-bottom: 0;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }

  .Toolbar {
    background-color: black;
    height: 4rem;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
  }
}
