@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');


#product_details .item_description h3 {
    font-weight: 700;
}

#product_details img {
    max-height: 90vh;
}

.disabled {
    background-color: black;
}

#product_details .back_btn {
    padding-top: 3rem;
    border: none;
    text-decoration: underline;
    background-color: transparent;
    margin: 0 0 2rem 2rem;
}

#product_details .ATC_btn {
    padding: 0.8rem 1.2em;
    width: 150px;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    color: white;
    background: var(--dark-color);
    text-align: center;
    transition: all 1s;
}

#product_details .ATC_btn:hover {
    color: white;
    background-color: var(--secondary-color);
    text-decoration: none;
}

#product_details .ATC_btn:disabled {
    background-color: black;
    color: #ffff;
    pointer-events: none;
}

@media(max-width:425px) {
    #product_details {
        padding-top: 0;
    }
}