.Checkout {
  min-height: 100vh;
  background-color: whitesmoke;
}


.Delivery {
  min-height: 10vh;
  margin: auto;
  padding: 20px;
  color: gray;
}

.ShippingForm {
  margin: auto;
  padding-top: 20px;
  text-align: center;
  color: gray;
  min-height: 70vh;
}