.Checkout {
  min-height: 100vh;
  background-color: whitesmoke;
  text-align: center;

}

.Delivery {
  min-height: 10vh;
  margin: auto;
  padding: 20px;
  color: white;
}

.ShippingForm {
  margin: auto;
  padding: 20px 0;
  color: white;
}