@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");



.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: black;
  text-decoration: none;
}

@media (min-width: 500px) {
  .NavigationItem {
    align-items: center;
    width: auto;
  }

  .NavigationItem a {
    color: black;
    display: flex;
    /* height: 100%; */
    /* background-color: red; */
    padding: 10px;
    padding-bottom: 0;
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    border-bottom: 2px solid black;
    color: black;
  }
}