@import "src/utils/default";

.background{
  background: transparent;
  box-shadow: 13px 13px 20px #cbced1,
              -13px -13px 20px #ffffff;
}

.card_section {
  height: calc(100vh - 4rem);
  margin: auto;
  padding-top: 20px;
  color: white;
.next-btn{
  @include default-btn;
  height: 3.5rem;
}
}