@import "src/utils/default";

.background{
  background-color: transparent;
  background:transparent;
}

.card_section {
  height: calc(100vh - 4rem);
  margin: auto;
  padding-top: 20px;
  color: white;

}