.Card {
  margin: auto;
  width: 400px;
  background-color: white;
  border-radius: 0.7rem;
  padding: 20px;
  color: gold;
}

.Payment {
  color: white;
  min-height: 96vh;
}

.CardSection {
  min-height: 60vh;
}