.ShoppingItem {
  background-color: whitesmoke;
}

.ProductDetails {
  margin: 0 auto;
}

.Row {
  margin-left: 0px;
}

.CartItem {
  font-family: "Karla", sans-serif;
  position: relative;
  height: auto;
  background-color: whitesmoke;
  color: black;
  margin: 20px 0 30px 0;
  box-sizing: border-box;
  padding: 10px;
}

.CartItem img {
  padding: 2em;
  width: 15em;
  height: 15em;
  border-radius: 10px;
}