.shoppingList {
    overflow-y: auto;
    height: calc(100vh - 4rem);
    position: relative;
    padding-right: 5rem !important;
}

@media(max-width:425px) {
    .shoppingList {
        overflow-y: hidden;
    }
}