@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

.Signup {
  text-align: center;
  width: 100vw;
  height: 100vh;
  border: 1px solid white;
  padding-top: 100px;
  box-sizing: border-box;
  display: grid;
  background-image: linear-gradient(
    to top,
    #bdc2e8 0%,
    #bdc2e8 1%,
    #e6dee9 100%
  );
}
.SignupForm {
  margin: 0px auto;
  font-family: "Karla" sans-serif;
  text-align: center;
  padding: 10px;
}
.Hidden {
  display: none;
}
.Block {
  display: block;
}
/* @media (min-width: 600px) {
  .Signup {
    width: 500px;
  }
} */
