@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

.Signup {
  margin: 0px auto;
  text-align: center;
  width: 90%;
  border: 1px solid white;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  display: grid;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.Hidden {
  display: none;
}
.Block {
  display: block;
}
@media (min-width: 600px) {
  .Signup {
    width: 500px;
  }
}
