@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

.Input {
  padding: 10px 10px;
}

.FormInput {
  font-weight: 400;
  font-family: "Karla"sans-serif;
  padding: 12px 15px;
  background-color: transparent;
  border-bottom: 2px solid black;
  width: 250px;

  margin-bottom: 15px;
}

.FormInput:focus {

  border-bottom-color: #cfb53b;
  transition: all .5s ease;

}

input {
  outline: none;
  border: none;
}

.Invalid {

  .FormInput,
  &:focus,
  &::before,
  &::after {
    border-bottom-color: #D8000C;
  }

}

.ValidationError {
  color: #D8000C;
}

.Input_Card {
  font-weight: 400;
  font-family: "Karla"sans-serif;
  background-color: transparent;
  border-bottom: 2px solid gray;
  width: 350px;
  margin-bottom: 15px;
}

.Input_Card_Row {
  font-weight: 400;
  font-family: "Karla"sans-serif;
  background-color: transparent;
  border-bottom: 2px solid gray;
  width: 150px;
  margin-bottom: 15px;
}

.ShippingInput {
  border: 1px solid gray;

  text .FormInput,
  &:focus,
  &::before,
  &::after {
    border-bottom-color: gray;
  }

}

.QuantityInputBox {
  border: 1px solid black;
  width: 50px;
}