@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

.Input {
  padding: 10px 10px;
}

.FormInput {
  font-weight: 400;
  font-family: "Karla"sans-serif;
  padding: 12px 15px;
  background-color: transparent;
  border: 2px solid gainsboro;
  width: 370px;
  margin-bottom: 15px;
}

.FormInput:focus {
  border-color: var(--secondary-color);
  transition: border 1.5s ease;
}

input {
  outline: none;
  border: none;
}

.ValidationError {
  color: #D8000C;
}

.Input_Card {
  font-weight: 400;
  font-family: "Karla"sans-serif;
  background-color: transparent;
  border-bottom: 2px solid gray;
  width: 350px;
  margin-bottom: 15px;
}

.Input_Card_Row {
  font-weight: 400;
  font-family: "Karla"sans-serif;
  background-color: transparent;
  border-bottom: 2px solid gray;
  width: 150px;
  margin-bottom: 15px;
}

.QuantityInputBox {
  border: 1px solid black;
  width: 50px;
}