

.FormInput {
  font-weight: 400;
  padding: 12px 15px;
  border-radius: 47px;
  background: #ecf0f3;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
  width: 370px;
  margin-bottom: 15px;
  border-radius: 5px;
}

@media (max-width: 425px) {
  .FormInput {
    width: 90%;
    padding: 8px 0;
  }
}

.FormInput:focus {
  border-color: var(--secondary-color);
  transition: border 1.5s ease;
}

input {
  outline: none;
  border: none;
}

.ValidationError {
  color: #D8000C;
}

.Input_Card {
  font-weight: 400;
  color: black;
  font-family: "Karla"sans-serif;
  background-color: transparent;
  border-bottom: 2px solid var(--dark-color);
  width: 350px;
  margin-bottom: 15px;
}

.Input_Card::-webkit-outer-spin-button,
.Input_Card::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.Input_Card_Row {
  font-weight: 400;
  font-family: "Karla"sans-serif;
  background-color: white;
  border-bottom: 2px solid var(--dark-color);
  width: 150px;
  margin-bottom: 15px;
}

.QuantityInputBox {
  border: 1px solid black;
  width: 50px;
}