$bg-color: rgb(242, 244, 254);
$default-bg-gradient: linear-gradient(
  90deg,
  rgba(242, 244, 254, 1) 0%,
  rgba(240, 239, 244, 1) 18%,
  rgba(239, 238, 242, 1) 40%,
  rgba(239, 238, 243, 1) 51%,
  rgba(243, 243, 245, 1) 69%,
  rgba(242, 242, 242, 1) 86%,
  rgba(239, 239, 240, 1) 100%
);
$header-font-family: "Merriweather", serif;
$body-font-family: "Karla", sans-serif;
$color: #000000;
@mixin default-btn() {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border: none;
  width: 15rem;
  height: 5rem;
  outline: none;
  &:hover {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
  }
  &:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
      inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
  }
}
