@import url('https://fonts.googleapis.com/css?family=Londrina+Outline&display=swap');

#homepage-main {
  background-color: black;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  height: calc(100vh - 10px);
  /* animation: backgroundColor 6s infinite alternate; */
}

@keyframes backgroundColor {
  to {
    background-color: var(--dark-color);
  }
}

#homepage-main .homepage-content h1 {
  color: var(--primary-color);
  font-family: 'Londrina Outline', cursive;
  font-size: 6rem;
  text-shadow:
    0 0 10px var(--secondary-color),
    0 0 20px firebrick,
    0 0 40px maroon,
    0 0 80px darkorchid;
}

#homepage-main .homepage-content p {
  color: white;
  text-align: center;
  animation: slideToCenter 2s forwards ease;
}

@keyframes slideToCenter {
  0% {
    transform: translateX(-1200px);
  }

  50% {
    transform: translateX(-800px);
  }

  75% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0);
  }
}

#homepage-main .homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.homepage-content .shop_link a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  display: block;
  background: var(--dark-color);
  padding: 0.6rem;
  transition: background 3s ease;
}

.homepage-content .shop_link a:hover {
  background: var(--secondary-color);
  /* color: black; */
}