#NavigationItems {
  display: flex;
  justify-content: space-between;
}

#NavigationItems ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


#NavigationItems ul li {
  list-style: none;
}

#NavigationItems a {
  color: black;
  text-decoration: none;
}

@media (max-width: 425px) {
  #NavigationItems {
    display: block;
  }

  #NavigationItems .nav_links ul {
    flex-direction: column;
  }

  #NavigationItems ul li {
    padding: 10px;
  }
}