@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

#Auth {
  font-family: "Karla"sans-serif;
  margin: auto;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
}


#Auth .loginBackground {
  flex: 2;
  /* background-color: red; */
  background: url('../../misc/login_background.jpg') no-repeat center center/cover;

}

#Auth .AuthForm {
  flex: 2;
  font-family: "Karla"sans-serif;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.Header {
  font-family: "Karla"sans-serif;
  color: var(--dark-color);
  font-size: 2rem;
}

/* @media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
} */
.signIn_button {
  display: inline-block;
  padding: 0.8rem 1.2em;
  width: 250px;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: white;
  background: var(--dark-color);
  text-align: center;
  transition: all 1s;
}

.signIn_button:hover {
  color: white;
  background-color: var(--secondary-color);
  text-decoration: none;
}

.FacebookButton {
  display: inline-block;
  padding: 0.5em 1.2em;
  background-color: #3b5998;
  border: 0.1em solid #3b5998;
  margin: 1em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 600;
  color: white;
  text-align: center;
}

.GoogleButton {
  display: inline-block;
  padding: 0.5em 1.2em;
  background-color: white;
  border: 0.1em solid;
  margin: 1em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 600;
  color: black;
  text-align: center;
  box-sizing: border-box;
}

.login_hidden {
  display: hidden;
  visibility: hidden;
  margin: auto;
  height: 1rem;
}

.login_block {
  display: block;
  max-width: 500px;
  text-align: center;
  margin: auto;
}